.number-display-box {
    box-sizing: border-box;
    width: 200px;
}

.number-display-title-large {
    font-size: 80px;
}

.number-display-title-small {
    font-size: 20px;
}

.number-display-title-very-small {
    font-size: 12px;
}