.number-display-box {
    box-sizing: border-box;
    width: 400px;
}

.number-display-title-large {
    font-size: 80px;
}

.number-display-title-small {
    font-size: 20px;
}

.number-display-title-very-small {
    font-size: 12px;
}

/* Pattern styles */
.container {
  height: 200px;
}

.left-half {
  position: absolute;
  left: 0px;
  width: 15%;
}

.right-half {
  position: absolute;
  right: 0px;
  width: 85%;
  font-size: 12px;
}